
<h2><%= link_to @post.title, @post.link %></h2>

<div class="comment-form">
  <h3>Add a Comment</h3>
  <%= form_tag(comments_path(@post)) do %>
      <div class="comment-field">
        <%= label_tag "Comment: " %>
        <%= text_area_tag :comment, nil, cols: 40, rows: 5 %>
      </div>

      <%= submit_tag "Submit" %>
  <% end %>
</div>

<h2>Past Comments</h2>
<div class="comments">
  <% @post.comments.each do |comment| %>
      <div class="comment">
        <em>Written: <%= time_ago_in_words(comment.created_at) %> ago</em><br/>
        <%= simple_format(comment.content) %>
      </div>
  <% end %>
</div>

