<h1>New User</h1>

<%= form_for(@user, url: signup_path, html: { multipart: true }) do |f| %>
    <% if @user.errors.any? %>
        <div class="form-errors">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited your user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="user-field">
      <%= label_tag "Username: " %>
      <%= text_field_tag :username %>
    </div>

    <div class="user-field">
      <%= label_tag "Email: " %>
      <%= text_field_tag :email %>
    </div>

    <div class="user-field">
      <%= label_tag "Password " %>
      <%= password_field_tag :password %>
    </div>

    <%= submit_tag "Sign Up" %>
<% end %>

<%= link_to "Nevermind", posts_path %>